examples/*.vtu
.*.swp
intro.ipy
tests/*.vtu
tests/*.msh
packaging
dist/*
build/*
msh2vtu.egg-info/*
howto_gmsh/*.vtu
howto_gmsh/*.msh
howto_mesh_terrain/*.vtu
howto_mesh_terrain/*.msh
howto_mesh_terrain/*.stl
__pycache__
.venv
